/* navbar */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to left, rgba(228,208,10),rgba(218,165,32));
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline;
    font-size: 22px;
    color: #fff;
    padding: 0px 0px 0px 0px;
    float: right;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 18px;
   
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: white;
    font-weight:bolder;
    opacity: 1;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline;
      position: relative;
      right: -10px;
      top: 12px;
      float:left;
    }
    .nav > .nav-btn > label {
      display: inline;
      width: 50px;
      height: 50px;
      padding: 0px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #051346 ;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 1;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      padding: 30px;
      font-size: xx-large;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  /* End of nav bar */

  /*Main page*/

  @import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-image: url(/images/itl.cat_gis-wallpaper_961951.png);
}

.container {
	max-width: 150rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color:white;
}
.secondheading{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.5rem 0.4rem rgba(252, 249, 249, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover { /* מגדיל את התמונה בתוך עצמה */
	transform: scale(1.15);
}

@supports (display: grid) { /* החלק של המובייל- מחלק את העמוד לקוביות אחת מתחת לשניה */
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));/* מתאים את עצמו לגודל של הנייד */
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/*End of main*/


